/*********************
COLOR
Color red #a40007, #d80019
Color black #03050f
Color text #58595b
*********************/

/************************************
FONTS
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
*************************************/
/*****************************************
GENERAL
***************************************/


* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: #03050f;
  font-size: 1em;
}

p, h2, h3 {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

img {
  display: block;
}

/***************************************
LAYOUT
***************************************/


.wrapper {
  width: 100%;
  max-width: 71.25rem;
	margin-left: auto;
	margin-right: auto;
}

.container {
  width: 65.8%;
  float: left;
}

.main-aside {
  width: 30%;
  margin-left: 1.875rem;
  float: left;
}

.main-events {
  float: left;
}

.main-noticias {
  float: left;
}

/***************************************
TOP HEADER
***************************************/

.top-header {
  max-width: 100%;
  height: 2.1875rem;
  background: #a40007;
}

/**************************************
CONTACT TOP
**************************************/

.contact-top {
  font-size: 1.6em;
  color: white;
}

.mobile {
  display: inline-block;

}

.mobile a {
  padding-left: .4rem;
}

.redes {
  float: right;
}

/**************************************
RADIO
**************************************/


.main-radio {
  border-bottom: 3px solid #d80019 ;
}

.audio-online {
  margin-top: 1.2rem;
	font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	position: absolute;
	margin-left: 8.125rem;
}

.listen-now {
	color: #d80019 ;
	font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	position: absolute;
	margin-left: 8.125rem;
	margin-top: 3.8rem;
}

.online-hi {
  overflow: hidden;
}

.online-back {
  margin-top: 1.25rem;
  background: url(../img/online.png) no-repeat 0 0;
  width: 53.75rem;
  height: 4.5625rem;
  margin-left: 10rem;
  margin-bottom: .3rem;
}

.online-app {
  margin-left: 30%;
  margin-top: 1.25rem;
  background: url(../img/online-app.png) no-repeat 0 0;
  width: 53.75rem;
  height: 4.5625rem;
}

.main-app {
  border-bottom: 3px solid #d80019 ;
  text-align: center;
  display: none;
}
/**************************************
MENU
**************************************/


.nav-main {
  position: relative;
  width: 100%;
  z-index: 2
}

.selectd {
  color: #d80019 ;
}

#logo {
  background: url(../img/logo_enlacehiphop.svg) no-repeat 0 0;
  display: block;
  float: left;
  width: 11.8125rem;
  height: 4.0625rem;
  margin: 1.2rem 0;
  text-indent: -624.9375rem;
}


#menu {
  float: right;
}

      /* Centramos y ponemos los textos en mayuscula */
      #menu li{
         display: block;
         float: left;
      }

          /* Damos estilo a nuestros enlaces */
          #menu li a{
              display: block;
              line-height: 3.75rem;
              padding-left: .80rem;
          }
          #menu li a:hover{
              color: #d80019 ;
              font-weight: bold;
          }

  /* Estilos #nav-mobile y lo ocultamos */
  #nav-mobile{
      display: none;
      background: url(../img/nav.png) no-repeat center center;
      float: right;
      width: 3.75rem;
      height: 3.75rem;
      position: absolute;
      right: 0;
      top:0;
      margin-top: 1.2rem;
  }
      /* Agregaremos esta clase a #nav-mobile, cuando el menu mobile haya sido desplegado */
      #nav-mobile.nav-active{
          opacity: 1;
      }
/**************************************
HERO
**************************************/

#slidy-container {
  width: 100%;
  height: 31.25rem;
  margin: 0 auto;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

/**************************************
IMG
**************************************/


.image {
  width: 22.5rem;
	height: 10rem;
}

.img-event {
	background-image: url(../img/evento_1.png);
  background-position: center;
  width: 9.375rem;
  height: 8.75rem;
  display: inline-block;
}

.img-event1 {
	background-image: url(../img/evento_2.png);
  background-position: center;
  width: 9.375rem;
  height: 8.75rem;
  display: inline-block;
}

.img-events {
	background-image: url(../img/evento_2.png);
}

.img-noticia {
	background-image: url(../img/noticia_1.png);
  background-position: center;
  width: 9.375rem;
  height: 8.75rem;
  display: inline-block;
}
.img-noticia1 {
	background-image: url(../img/noticia_3.png);
  background-position: center;
  width: 9.375rem;
  height: 8.75rem;
  display: inline-block;
}

.img-noticias {
	background-image: url(../img/noticia_2.png);
}

.cover {
  width: 8.125rem;
  height: 7.25rem;
}

.img-cover {
  background-image: url(../img/cover.png);
}

.img-aplication {
  width: 19.6875rem;
  height: 16.25rem;
}

.img-enlace {
  width: 9.5rem;
  height: 6.4375rem;
  margin-top: 0.9375rem;
  background-image: url(../img/logo_enlace.png);
}


/**************************************
EVENTOS
**************************************/

.eventos{
  color: white;
  font-size: 1.2em;
  margin-top: 5rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.eventos span {
  width: 4.375rem;
  border-bottom: thin solid #d80019 ;
  display:block;
}

.eventos h2 {
  font-weight: 300;
}

.event {
  margin-top: 2.8125rem;
  background: white;
  text-align: center;
  float: left;
}

.event-pro {
  margin-right: 1.875rem;
}

.event:nth-child(odd),
.noticia:nth-child(odd) {
  margin-right: 0;
  float: right;
}


.fecha {
	color: white;
	font-size: 1.625em;
	font-weight: 600;
	width: 10.625rem;
  font-family: 'Montserrat', sans-serif;
	height: 3.125rem;
	background: #a40007 ;
	padding: .625rem 0;
	text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.name {
	color: #101010;
	font-size: 1.625rem;
	font-weight: 600;
  padding-bottom: 1.5rem;
  display: inline-block;
}

/**************************************
NOTICIAS
**************************************/


.noticia {
  margin-right: 1.875rem;
  margin-top: 3.2rem;
  float: left;
}

.noticia-text {
  color: #03050f;
	width: 22.5rem;
	background: white;
  padding: 2rem;
}

.noticia-text a h3 {
  color: #03050f;


}

.noticia-text h3 {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
}

.noticia-fragmento {
  margin-top: .9rem;
  line-height: 1.5;
}

.noticia-mas {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  width: 13.4375rem;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: .8rem;
  margin-left: 17.7rem;
  margin-top: 2rem;
  margin-bottom: 3.125rem;
  background: #d80019 ;
}

/**************************************
ASIDE
**************************************/

.titulo {
  margin-top: 2rem;
}

.song {
  margin-top: 2.8125rem;
  background: white;
  text-align: center;
}

.nueva-cancion {
  display: inline-block;
  padding: 0.9375rem;
}

.name-song {
  font-weight: bold;
  margin-top: 0.625rem;
}

.event-aside {
  margin-top: 2.8125rem;
}

.date-aside {
  background: white;
  font-size: 1.23em;
  font-weight: 400;
  padding: .6rem;
  width: 12rem;
  height: 8.75rem;
  float: right;
}

.date-aside h3 {
  color: #d80019;
}

.date-aside p,
.date-noticia p {
  margin-top: 0.625rem;
}

.date-noticia {
  font-size: .9em;
  font-weight: 400;
  padding-top: .625rem;
}

.date-noticia h3 {
  color: #03050f;
}

.fa-plugin {
  margin-bottom: 2.8125rem;
  margin-top: 2rem;
}

.fa-wid iframe{
  margin-top: 2rem;
}

.noticia-aside {
  margin-bottom: 2rem;
}
/**************************************
FOOTER
**************************************/


.info-footer {
  color: white;
  background: #a40007 ;
}

.copy-footer {
  color: white;
  background: #03050f;
  padding: 1.2rem;
}

.copy-footer p {
  font-size: 60%;
}


/**************************************
ENLACE FOOTER
**************************************/


.enlace {
  width: 25%;
  float: left;
}

.enlace-text {
  margin-top: 1.25rem;
  margin-right: 1rem;
}

.enlace-follow {
  font-size: 2.188em;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.contacto-footer {
  margin-top: 5.5rem;
  text-transform: uppercase;
}

.contact-text {
  margin-top: .6rem;
  margin-right: 2rem;
  line-height: 2em;
  text-transform: none;

}

.nav {
  margin-top: 5.5rem;
  margin-right: 3rem;
  margin-left: 1.2rem;
  float: left;
}

.nav-footer a {
  padding: 0;
  display: block;
}

.nav-footer a:hover {
  color: #03050f;
  font-weight: normal;
}

.select {
  color: #03050f;
  font-weight: bold;
}

.footer-description {
  height: 5.8125rem;
  margin: 0;
}

.footer-description p {
  padding-top: 2.6rem;
}


/**************************************
CLEAR FLOAT
**************************************/


.clear {
  clear: both;
}


/*************************************
PROGRAMACION PAGE
*************************************/


.main-p {
  float: left;
}

.eventos-p {
  margin-top: 0;
}

.noticias-p {
  margin-bottom: 2.3rem;
}

.image-p {
  height: auto;
}

/*************************************
NOTICIAS PAGE
*************************************/

.noticia-n {
  margin-right: 0;
}

.image-n {
  width: 100%;
  height: auto;
}

.noticia-next {
  width: 100%;
}


/*************************************
ONLINE PAGE
*************************************/

#stream {
  width: 100%;
  background: #03050f;
}

.stream-play {
  text-align: center;
  margin: 2rem 0;
}

.stream-eventos {
  margin-top: 0;
}

.stream-p {
  margin-top: 2rem;
  display: inline-block;
}

.online-stream {
  display: inline-block;
  width: 20rem;
  background: white;
  padding: .3rem;
}
.store {
  float: right;
  margin-left: 2rem;
}

.emisora-social {
  text-align: center;
  margin-top: 1rem;
}

.social-r  a{
  padding-left: 1.2rem;
}

.rss-radio {
  font-size: 2.2em;
  color: black;
  border-radius: 50%;
  height: 3.125rem;
  width: 3.125rem;
  padding: .4rem;
  background: white;
}

/*************************************
FORMULARIO
*************************************/

.formu {
  margin-top: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

.place-formu {
  border: 0;
  font-size: .8em;
  font-family: 'Lato', sans-serif;
  border-bottom: 1px solid #d80019;
  display: block;
  width: 100%;
}

.text-formu {
  border: 1px solid #d80019;
}

.sub-formu {
  margin-top: 1rem;
  font-size: .8em;
  padding: .5rem;
  background: #d80019;
  border: none;
  color: white;

}


/*************************************
RESPONSIVE
*************************************/

@media screen and (max-width: 1200px){
  .wrapper {
    width: 100%;
    max-width: 48.125rem;
  }

  #slidy-container {
    height: auto;
  }

  .audio-online {
  	font-size: 2.2em;
  	margin-left: 2.2rem;
  }

  .listen-now {
  	font-size: 1.2rem;
  	margin-left: 1.2rem;
  }

  .online-back {
    margin-left: 8rem;
  }

  .container {
    width: 100%;
  }

  .main-aside {
    display: none;
  }

  .enlace {
    width: auto;
  }

  .enlace-text {
    margin-right: 0;
    text-align: justify;
  }

  .app-footer {
    float: right;
  }

  .contacto-footer {
    margin-top: 2rem;
  }

  .nav {
    margin-right: 0;
  }

  .img-aplication {
    margin-bottom: 1.2rem;
    width: 100%;
  }
}


@media only screen and (max-width: 768px) {

  .wrapper {
    width: 95%;
    max-width: 100%;
  }

  .main {
    width: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .container-p {
    margin-bottom: 2.3rem;
  }

  .main-p {
    float: none;
  }

  .follow {
    display: none;
  }

  .main-radio {
    display: none;
  }

  .main-app {
    display: block;
  }


  #logo {
    height: 3.5rem;
  }

  /* mostramos #nav-mobile */
  #nav-mobile{ display: block; }

  /* Fijamos nuestro nav en 100% ancho y dejamos de flotarlo  */
  #menu{
      width: 100%;
      float: none;
      padding-top: 3.75rem;
  }
      /* Convertimos nuestra lista de enlaces en un menú horizontal */
      #menu ul{
          max-height: 0;
          overflow: hidden;
      }
          /* estilos para los LI del menu */
          #menu li{
              border-bottom: 1px solid #282b30;
              float: none;
          }

          /* Quitamos el borde del ultimo item del menú */
          #menu li:last-child{ border-bottom: 0;}
              #menu li a{
                  padding: 0.9375rem 0;
                  height: auto;
                  line-height: normal;
              }
              #menu li a:hover{
                color: #d80019 ;
              }

      /* Agregamos una animación al despligue del menú */
      #menu ul.open-menu{
          width: 100%;
          max-height: 25rem;
          -webkit-transition: max-height .4s;
          -moz-transition: max-height .4s;
          -ms-transition: max-height .4s;
          -o-transition: max-height .4s;
          transition: max-height .4s;
      }


  .event {
    margin-right: 0;
    float: none;
  }

  .event:nth-child(odd) {
    float: none;
  }

  .name p,
  .fecha p {
    font-size: .8em;
  }

  .fecha,
  .name {
    width: 44.40%;
  }

  .noticia {
    margin-right: 0;
  }

  /*PROGRAMACION */
  .noticias-p {
    float: none;
  }

  .noticia-text {
    width: 100%;
  }

  .noticia-button {
    width: 100%;
    padding: .3em;
    margin-top: 1.5625rem;
    margin-left: 0;
  }

  .noticia-mas {
    width: 100%;
    margin-left: 0;
  }
    .cover-image {
      max-width: 100%;
      height: auto;
      width: 100%;
    }

  .enlace-text {
    padding: .7rem;
  }

  .contact-text {
    padding: .7rem;
  }

  .contacto-footer {
    padding: .3rem;
  }

  .nav {
    margin-left: 0;
  }

  .app-footer {
    float: left;
  }

}

@media only screen and (max-width: 718px) {

  .store {
    float: none;
    margin-top: 2rem;
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {

  .eventos-p {
    font-size: 1em;
  }
}
